<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>帮助文档</title>
<link href="css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
   <div class="searchWrap">
    <div id="content">
  	<h2>一. 简介</h2>
  	<p style="margin-left:20px; text-align: justify;">BMS（Basic Management System）是一款通用管理系统。</p>
  	
	<h2>二. 使用说明</h2>
    <p style="margin-left:20px">任何问题,请先参考使用说明书</a> <br>
      如果找不到答案,您可以通过下面的联系方式与我们联系</p>
  	<h2>五. 联系我们</h2>
    <p style="margin-left:20px"> * 如果您在使用过程中遇到问题,或者有更好的建议<br>
      * 欢迎您访问<br>
      * WEBSITE: <a href="http://www.db.com" target="_blank">www.db.com</a><br>
      * MAIL: support@db.com<br>
      </span> </p>
    <br>
    <br>
  </div>
  </div> 

</body>
</html>
