<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->

<mapper namespace="com.db.bms.dao.LogTypeMapper" >

<!-- Result Map 数据库映射到实体类  -->
<resultMap id="logType" type="com.db.bms.entity.LogType" >
<id column="LOG_TYPE_NO" property="logTypeNo"/>
<result column="LOG_TYPE_NAME" property="logTypeName"/>
</resultMap>

<!-- 查询,主键查询   -->
<select id="findLogTypeById"  resultMap="logType" parameterType="java.lang.Object">
	select LOG_TYPE_NO,LOG_TYPE_NAME 
	from sys_log_type 
	where LOG_TYPE_NO=#{logTypeNo}
</select>



</mapper>